.address--container {
  padding: 8px;

  .address--card {
    border-radius: 13px;

    a {
      color: inherit;
    }

    .MuiCardContent-root {
      padding: 0 !important;

      .MuiTypography-root {
        font-weight: 600;
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 0.8rem;
      }
    }

    &:hover {
      .MuiTypography-root {
        color: #f24c34;
      }
    }
    .MuiCardMedia-img {
      height: 100px;
      object-fit: fill;
      width: auto;
      margin: 0 auto;
    }
  }
}
